*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/appInsightsSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin
local.properties
keystore.properties
*.keystore
*.jks
action_test

# Security: Ignore Google Cloud Service Account Keys
hongbaoshu-*.json
service-account.json

/privacy
/TODO
/audio_backup_raw
/tools/pack-studio/node_modules
/tools/pack-studio/workspace
